cherokee.*.log
app/config/config.yml
app/cache
app/compile
app/storage

old

composer.phar
vendor/.composer
vendor/composer
vendor/autoload.php

vendor/simonhamp
vendor/smarty
vendor/symfony

*~
.sass-cache
