background: #0066ee;
background: linear-gradient(top, #0066ee 0%, #0033aa 100%);
background: -o-linear-gradient(top, #0066ee 0%, #0033aa 100%);
background: -ms-linear-gradient(top, #0066ee 0%, #0033aa 100%);
background: -moz-linear-gradient(top, #0066ee 0%, #0033aa 100%);
background: -webkit-linear-gradient(top, #0066ee 0%, #0033aa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066ee', endColorstr='#0033aa',GradientType=0 );
color: #fff;
text-shadow: 0 1px 0 #000;
