#colorclasses {
  ul {
    display:  inline-block;
    margin:   0;
    li {
      border:   1px solid #777;
      cursor:   pointer;
      display:  inline-block;
      padding:  5px;
      margin:   5px;
      .border-radius(4px);

      &.selected {
        font-weight:  bold;
        opacity:      1;
      }
      &:not(.selected) {
        font-weight:  normal;
        opacity:      0.5;
      }
    }
  }
}
