/***** TIMELINE *****/
@wrapperheight: 300px;

#timeline {
  height:     @wrapperheight + 50px;
  margin-top: 20px;
}

#options {
  text-align: center;
}

#wrapper {
  overflow: auto;
  position: absolute;
  left: 0;
  height: 65%;
  width: 100%;
  z-index: 1;
  #scroller {
    cursor:     ew-resize;
    padding:    0;
    margin-bottom: 5px;
    height:     @wrapperheight;
    #timelinecontent {
      background:   #fff url(../img/table.png);
      height:       100%;
      margin:       0 10px;
      overflow:     hidden;
      border:       1px solid #ccc;
      .border-radius(4px);
      .dates {
        .date {
          border-left:  1px solid #ccc;
          border-right: 1px solid #fff;
          display:      table-cell;
          padding:      10px 0;
        }
        font-size:    18px;
        font-weight:  bold;
        position:     relative;
        height:       40px;
        text-align:   center;
        text-shadow:  0 1px 0 rgba(255, 255, 255, 0.9);
        vertical-align:middle;
/*				&.hover { @include background-gradients(top, #cccccc 0%, #aaaaaa 100%); }*/
      }
      .timelinetype:nth-child(even) {
        background: #F5F5F5;
      }
    }
  }
  /***** iSCROLL *****/
  .scrollbarH {
    height:   8px;
    z-index:  -1;
    & > div {
      border:     1px solid #06a;
      height:     6px;
      z-index:    100;
      background: #258dc8;
      /*@include background-gradients(top, #258dc8 0%, #258dc8 100%);*/
      /*@include background-clips(padding-box);*/
      /*@include box-sizings(border-box);*/
      .border-radius(4px);
      .box-shadow(inset 1px 1px 0 rgba(255,255,255,0.5));
  }
  }
}
