@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

@import "timeline/custom.mixins.less";

ul.sortable {
  li {
    line-height: @baseLineHeight;
    list-style: decimal outside none;
  }
  .ui-sortable-placeholder {
    line-height: @baseLineHeight;
    background: @tableBackgroundHover;
  }
  .ui-sortable-helper {
    line-height: @baseLineHeight;
    list-style: none;
  }
}

